# .gitignore contents
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model files
*.pth

# AWS and security keys
*.pem
.aws/

# Docker & certbot volumes
certbot/conf/
certbot/www/

# VS Code and other IDE settings
.vscode/
.env
.env.*

# Grad-CAM output
/app/static/gradcam_results/*.jpg
